.banner {
    width: 100%;
    height: 400px;
    margin-bottom: 5rem;
  
    display: flex;
}

.image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.post {
    margin-top: 5rem;


h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
    
}

span {
    display: block;
    margin-top: 1.5rem;
    font-style: italic;
    font-size: 00.875rem;
    color: var(--gray-800)
    }
}

.content {
    margin-top: 4rem;

    h2 {
        margin-bottom: 4rem;
        font-size: 2.25rem;
    }

    p {
       margin: 2rem 0;
       font-size: 1.125rem;
       line-height: 1.575rem;
       text-align: justify;
    }

    a {
        color: var(--pink-300);

    }

    ul {
        padding: 1rem;
    
        li {
          margin: 1rem 0;
        }
      }
    }


    .postContent {
        margin-top: 4rem;
      
        h2 {
          font-size: 2.25rem;
          font-weight: bold;
          color: var(--gray-100);
          margin-bottom: 3rem;
        }
    }


    .postSection {
        font-size: 1.125rem;
        color: var(--gray-200);
        text-align: justify;
        margin-bottom: 4rem;
      
        p {
          line-height: 1.5rem;
        }
      
        p + p {
          margin-top: 1.5rem;
        }
      
        a {
          color: var(--pink-300);
      
          &:hover {
            text-decoration: underline;
          }
        }
      
        ul {
          margin: 1rem 2rem;
      
          li + li {
            margin-top: 1rem;
          }
        }
      }
    
.navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid var(--gray-600);
    
      div {
        padding-top: 3rem;
    
        & + div {
          text-align: right;
        }
    
        h3 {
          margin-bottom: 0.5rem;
          font-size: 1.125rem;
          font-weight: normal;
          color: var(--gray-100);
        }
    
        a {
            font-size: 1rem;
            font-weight: 600;
            color: var(--pink-300);
        }
      }
    }

.footer {
        display: flex;
        justify-content: space-between;
        position: relative;
      
        padding-top: 3rem;
        margin-bottom: 5rem;
      
        &::before {
          content: '';
          width: 100%;
          height: 1px;
          background: var(--gray-200);
          opacity: 0.1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
        }

        // > div {
        //     display: flex;
        //     flex-direction: column;
        
        //     p {
        //       margin-bottom: 0.5rem;
        //       font-size: 1.125rem;
        //       color: var(--gray-100);
        //     }
        
        //     a {
        //       font-size: 1rem;
        //       font-weight: 600;
        //       color: var(--pink-300);
        //     }
        
        //     & + div {
        //       align-items: flex-end;
        //     }
        //   }
      
}





